{{ file_managed_by_ansible }}

{% if deb13cis_rule_1_3_1_4 %}
# apparmor_restrict_unprivileged_unconfined is enabled
# CIS 1.3.1.4
kernel.apparmor_restrict_unprivileged_unconfined = 1
{% endif %}
{% if deb13cis_rule_1_5_3 %}
# Ptrace scope
# CIS 1.5.3
kernel.yama.ptrace_scope = 1
{% endif %}
{% if deb13cis_rule_1_5_5 %}
# Ptrace scope
# CIS 1.5.5
kernel.dmesg_restrict = 1
{% endif %}
{% if deb13cis_rule_1_5_8 %}
# kernel.kptr_restrict
# CIS 1.5.8
kernel.kptr_restrict = {{ deb13cis_kptr_restrict_value }}
{% endif %}
{% if deb13cis_rule_1_5_9 %}
# Address space randomise
# CIS 1.5.9
kernel.randomize_va_space = 2
{% endif %}
