# Run AIDE integrity check
## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company
### YOUR CHANGES WILL BE LOST!

{{ deb13cis_aide_cron['aide_minute'] }} {{ deb13cis_aide_cron['aide_hour'] }} {{ deb13cis_aide_cron['aide_month'] }} {{ deb13cis_aide_cron['aide_weekday'] }} {{ deb13cis_aide_cron['aide_job'] }}
