{{ file_managed_by_ansible }}

### YOUR CHANGES WILL BE LOST!

{{ deb13cis_aide_cron['aide_minute'] }} {{ deb13cis_aide_cron['aide_hour'] }} {{ deb13cis_aide_cron['aide_month'] }} {{ deb13cis_aide_cron['aide_weekday'] }} {{ deb13cis_aide_cron['aide_job'] }}
