# File created for CIS benchmark
# CIS rule 6_1_1_1_3
[Journal]
SystemMaxUse={{ deb13cis_journald_systemmaxuse }}
SystemKeepFree={{ deb13cis_journald_systemkeepfree }}
RuntimeMaxUse={{ deb13cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ deb13cis_journald_runtimekeepfree }}
MaxFileSec={{ deb13cis_journald_maxfilesec }}
