{{ file_managed_by_ansible }}

# 5.3.3.2.3 Ensure password complexity is configured
{% if deb13cis_passwd_complex_option == 'minclass' %}  # pragma: allowlist secret
minclass = {{ deb13cis_passwd_minclass }}
{% endif %}
{% if deb13cis_passwd_complex_option == 'credits' %}  # pragma: allowlist secret
dcredit = {{deb13cis_passwd_dcredit }}
ucredit = {{ deb13cis_passwd_ucredit }}
ocredit = {{ deb13cis_passwd_ocredit }}
lcredit = {{ deb13cis_passwd_lcredit }}
{% endif %}
