{{ file_managed_by_ansible }}

[Unit]
Description=Daily AIDE check

[Timer]
OnCalendar={{ deb13cis_aide_cron_day }}-{{ deb13cis_aide_cron_month }}-{{ deb13cis_aide_cron_weekday }} {{ deb13cis_aide_cron_hour }}:{{ deb13cis_aide_cron_minute }}:00
Persistent=true

[Install]
WantedBy=timers.target
