## metadata for benchmark Debian 13

## metadata for Audit benchmark
benchmark_version: {{ benchmark_version }}

# If run via script this is discovered and set
host_os_distribution: Debian

#  timeout for each command to run where set - default = 10seconds/10000ms
timeout_ms: {{ audit_cmd_timeout }}

# Sections
deb13cis_section1: {{ deb13cis_section1 }}
deb13cis_section2: {{ deb13cis_section2 }}
deb13cis_section3: {{ deb13cis_section3 }}
deb13cis_section4: {{ deb13cis_section4 }}
deb13cis_section5: {{ deb13cis_section5 }}
deb13cis_section6: {{ deb13cis_section6 }}
deb13cis_section7: {{ deb13cis_section7 }}

deb13cis_level_1: {{ deb13cis_level_1 }}
deb13cis_level_2: {{ deb13cis_level_2 }}

#  to enable rules that may have IO impact on a system e.g. full filesystem scans or CPU heavy
run_heavy_tests: {{ audit_run_heavy_tests }}

#  True is BIOS based system else set to false
deb13cis_legacy_boot: {{ deb13cis_legacy_boot }}

deb13cis_set_boot_pass: {{ deb13cis_set_boot_pass }}

# Section 1 is Initial setup (FileSystem Configuration, Configure Software Updates, Filesystem Integrity Checking, Secure Boot Settings,
# Additional Process Hardening, Mandatory Access Control, Command Line Warning Banners, and GNOME Display Manager)
# Filesystem kernel modules
deb13cis_rule_1_1_1_1: {{ deb13cis_rule_1_1_1_1 }}
deb13cis_rule_1_1_1_2: {{ deb13cis_rule_1_1_1_2 }}
deb13cis_rule_1_1_1_3: {{ deb13cis_rule_1_1_1_3 }}
deb13cis_rule_1_1_1_4: {{ deb13cis_rule_1_1_1_4 }}
deb13cis_rule_1_1_1_5: {{ deb13cis_rule_1_1_1_5 }}
deb13cis_rule_1_1_1_6: {{ deb13cis_rule_1_1_1_6 }}
deb13cis_rule_1_1_1_7: {{ deb13cis_rule_1_1_1_7 }}
deb13cis_rule_1_1_1_8: {{ deb13cis_rule_1_1_1_8 }}
deb13cis_rule_1_1_1_9: {{ deb13cis_rule_1_1_1_9 }}
deb13cis_rule_1_1_1_10: {{ deb13cis_rule_1_1_1_10 }}
deb13cis_rule_1_1_1_11: {{ deb13cis_rule_1_1_1_11 }}

# Filesystems
# /tmp
deb13cis_rule_1_1_2_1_1: {{ deb13cis_rule_1_1_2_1_1 }}
deb13cis_rule_1_1_2_1_2: {{ deb13cis_rule_1_1_2_1_2 }}
deb13cis_rule_1_1_2_1_3: {{ deb13cis_rule_1_1_2_1_3 }}
deb13cis_rule_1_1_2_1_4: {{ deb13cis_rule_1_1_2_1_4 }}
# /dev/shm
deb13cis_rule_1_1_2_2_1: {{ deb13cis_rule_1_1_2_2_1 }}
deb13cis_rule_1_1_2_2_2: {{ deb13cis_rule_1_1_2_2_2 }}
deb13cis_rule_1_1_2_2_3: {{ deb13cis_rule_1_1_2_2_3 }}
deb13cis_rule_1_1_2_2_4: {{ deb13cis_rule_1_1_2_2_4 }}
# /home
deb13cis_rule_1_1_2_3_1: {{ deb13cis_rule_1_1_2_3_1 }}
deb13cis_rule_1_1_2_3_2: {{ deb13cis_rule_1_1_2_3_2 }}
deb13cis_rule_1_1_2_3_3: {{ deb13cis_rule_1_1_2_3_3 }}
# /var
deb13cis_rule_1_1_2_4_1: {{ deb13cis_rule_1_1_2_4_1 }}
deb13cis_rule_1_1_2_4_2: {{ deb13cis_rule_1_1_2_4_2 }}
deb13cis_rule_1_1_2_4_3: {{ deb13cis_rule_1_1_2_4_3 }}
# /var/tmp
deb13cis_rule_1_1_2_5_1: {{ deb13cis_rule_1_1_2_5_1 }}
deb13cis_rule_1_1_2_5_2: {{ deb13cis_rule_1_1_2_5_2 }}
deb13cis_rule_1_1_2_5_3: {{ deb13cis_rule_1_1_2_5_3 }}
deb13cis_rule_1_1_2_5_4: {{ deb13cis_rule_1_1_2_5_4 }}
# /var/log
deb13cis_rule_1_1_2_6_1: {{ deb13cis_rule_1_1_2_6_1 }}
deb13cis_rule_1_1_2_6_2: {{ deb13cis_rule_1_1_2_6_2 }}
deb13cis_rule_1_1_2_6_3: {{ deb13cis_rule_1_1_2_6_3 }}
deb13cis_rule_1_1_2_6_4: {{ deb13cis_rule_1_1_2_6_4 }}
# /var/log/audit
deb13cis_rule_1_1_2_7_1: {{ deb13cis_rule_1_1_2_7_1 }}
deb13cis_rule_1_1_2_7_2: {{ deb13cis_rule_1_1_2_7_2 }}
deb13cis_rule_1_1_2_7_3: {{ deb13cis_rule_1_1_2_7_3 }}
deb13cis_rule_1_1_2_7_4: {{ deb13cis_rule_1_1_2_7_4 }}

# Package Mgmt
# Config Pkg Repos
deb13cis_rule_1_2_1_1: {{ deb13cis_rule_1_2_1_1 }}
deb13cis_rule_1_2_1_2: {{ deb13cis_rule_1_2_1_2 }}
deb13cis_rule_1_2_1_3: {{ deb13cis_rule_1_2_1_3 }}
deb13cis_rule_1_2_1_4: {{ deb13cis_rule_1_2_1_4 }}
deb13cis_rule_1_2_1_5: {{ deb13cis_rule_1_2_1_5 }}
deb13cis_rule_1_2_1_6: {{ deb13cis_rule_1_2_1_6 }}
deb13cis_rule_1_2_1_7: {{ deb13cis_rule_1_2_1_7 }}
deb13cis_rule_1_2_1_8: {{ deb13cis_rule_1_2_1_8 }}
deb13cis_rule_1_2_1_9: {{ deb13cis_rule_1_2_1_9 }}
# Package updates
deb13cis_rule_1_2_2_1: {{ deb13cis_rule_1_2_2_1 }}

# apparmor
deb13cis_rule_1_3_1_1: {{ deb13cis_rule_1_3_1_1 }}
deb13cis_rule_1_3_1_2: {{ deb13cis_rule_1_3_1_2 }}
deb13cis_rule_1_3_1_3: {{ deb13cis_rule_1_3_1_3 }}
deb13cis_rule_1_3_1_4: {{ deb13cis_rule_1_3_1_4 }}

# Bootloader
deb13cis_rule_1_4_1: {{ deb13cis_rule_1_4_1 }}
deb13cis_rule_1_4_2: {{ deb13cis_rule_1_4_2 }}

# Additional Process Hardening
deb13cis_rule_1_5_1: {{ deb13cis_rule_1_5_1 }}
deb13cis_rule_1_5_2: {{ deb13cis_rule_1_5_2 }}
deb13cis_rule_1_5_3: {{ deb13cis_rule_1_5_3 }}
deb13cis_rule_1_5_4: {{ deb13cis_rule_1_5_4 }}
deb13cis_rule_1_5_5: {{ deb13cis_rule_1_5_5 }}
deb13cis_rule_1_5_6: {{ deb13cis_rule_1_5_6 }}
deb13cis_rule_1_5_7: {{ deb13cis_rule_1_5_7 }}
deb13cis_rule_1_5_8: {{ deb13cis_rule_1_5_8 }}
deb13cis_rule_1_5_9: {{ deb13cis_rule_1_5_9 }}
deb13cis_rule_1_5_10: {{ deb13cis_rule_1_5_10 }}
deb13cis_rule_1_5_11: {{ deb13cis_rule_1_5_11 }}
deb13cis_rule_1_5_12: {{ deb13cis_rule_1_5_12 }}
deb13cis_rule_1_5_13: {{ deb13cis_rule_1_5_13 }}

# Command line warning banners
deb13cis_rule_1_6_1: {{ deb13cis_rule_1_6_1 }}
deb13cis_rule_1_6_2: {{ deb13cis_rule_1_6_2 }}
deb13cis_rule_1_6_3: {{ deb13cis_rule_1_6_3 }}
deb13cis_rule_1_6_4: {{ deb13cis_rule_1_6_4 }}
deb13cis_rule_1_6_5: {{ deb13cis_rule_1_6_5 }}
deb13cis_rule_1_6_6: {{ deb13cis_rule_1_6_6 }}

# Gnome Display Manager
deb13cis_rule_1_7_1: {{ deb13cis_rule_1_7_1 }}
deb13cis_rule_1_7_2: {{ deb13cis_rule_1_7_2 }}
deb13cis_rule_1_7_3: {{ deb13cis_rule_1_7_3 }}
deb13cis_rule_1_7_4: {{ deb13cis_rule_1_7_4 }}
deb13cis_rule_1_7_5: {{ deb13cis_rule_1_7_5 }}
deb13cis_rule_1_7_6: {{ deb13cis_rule_1_7_6 }}
deb13cis_rule_1_7_7: {{ deb13cis_rule_1_7_7 }}
deb13cis_rule_1_7_8: {{ deb13cis_rule_1_7_8 }}
deb13cis_rule_1_7_9: {{ deb13cis_rule_1_7_9 }}
deb13cis_rule_1_7_10: {{ deb13cis_rule_1_7_10 }}

# Section 2 rules are controling Services (Special Purpose Services, and service clients)
## Configure Server Services
deb13cis_rule_2_1_1: {{ deb13cis_rule_2_1_1 }}
deb13cis_rule_2_1_2: {{ deb13cis_rule_2_1_2 }}
deb13cis_rule_2_1_3: {{ deb13cis_rule_2_1_3 }}
deb13cis_rule_2_1_4: {{ deb13cis_rule_2_1_4 }}
deb13cis_rule_2_1_5: {{ deb13cis_rule_2_1_5 }}
deb13cis_rule_2_1_6: {{ deb13cis_rule_2_1_6 }}
deb13cis_rule_2_1_7: {{ deb13cis_rule_2_1_7 }}
deb13cis_rule_2_1_8: {{ deb13cis_rule_2_1_8 }}
deb13cis_rule_2_1_9: {{ deb13cis_rule_2_1_9 }}
deb13cis_rule_2_1_10: {{ deb13cis_rule_2_1_10 }}
deb13cis_rule_2_1_11: {{ deb13cis_rule_2_1_11 }}
deb13cis_rule_2_1_12: {{ deb13cis_rule_2_1_12 }}
deb13cis_rule_2_1_13: {{ deb13cis_rule_2_1_13 }}
deb13cis_rule_2_1_14: {{ deb13cis_rule_2_1_14 }}
deb13cis_rule_2_1_15: {{ deb13cis_rule_2_1_15 }}
deb13cis_rule_2_1_16: {{ deb13cis_rule_2_1_16 }}
deb13cis_rule_2_1_17: {{ deb13cis_rule_2_1_17 }}
deb13cis_rule_2_1_18: {{ deb13cis_rule_2_1_18 }}
deb13cis_rule_2_1_19: {{ deb13cis_rule_2_1_19 }}
deb13cis_rule_2_1_20: {{ deb13cis_rule_2_1_20 }}
deb13cis_rule_2_1_21: {{ deb13cis_rule_2_1_21 }}
deb13cis_rule_2_1_22: {{ deb13cis_rule_2_1_22 }}

## Configure Client Services
deb13cis_rule_2_2_1: {{ deb13cis_rule_2_2_1 }}
deb13cis_rule_2_2_2: {{ deb13cis_rule_2_2_2 }}
deb13cis_rule_2_2_3: {{ deb13cis_rule_2_2_3 }}
deb13cis_rule_2_2_4: {{ deb13cis_rule_2_2_4 }}
deb13cis_rule_2_2_5: {{ deb13cis_rule_2_2_5 }}
deb13cis_rule_2_2_6: {{ deb13cis_rule_2_2_6 }}

## Configure Time Synchronization
deb13cis_rule_2_3_1_1: {{ deb13cis_rule_2_3_1_1 }}
# timesyncd
deb13cis_rule_2_3_2_1: {{ deb13cis_rule_2_3_2_1 }}
deb13cis_rule_2_3_2_2: {{ deb13cis_rule_2_3_2_2 }}
# chrony
deb13cis_rule_2_3_3_1: {{ deb13cis_rule_2_3_3_1 }}
deb13cis_rule_2_3_3_2: {{ deb13cis_rule_2_3_3_2 }}
deb13cis_rule_2_3_3_3: {{ deb13cis_rule_2_3_3_3 }}

## Job Schedulers
### cron
deb13cis_rule_2_4_1_1: {{ deb13cis_rule_2_4_1_1 }}
deb13cis_rule_2_4_1_2: {{ deb13cis_rule_2_4_1_2 }}
deb13cis_rule_2_4_1_3: {{ deb13cis_rule_2_4_1_3 }}
deb13cis_rule_2_4_1_4: {{ deb13cis_rule_2_4_1_4 }}
deb13cis_rule_2_4_1_5: {{ deb13cis_rule_2_4_1_5 }}
deb13cis_rule_2_4_1_6: {{ deb13cis_rule_2_4_1_6 }}
deb13cis_rule_2_4_1_7: {{ deb13cis_rule_2_4_1_7 }}
deb13cis_rule_2_4_1_8: {{ deb13cis_rule_2_4_1_8 }}
### at
deb13cis_rule_2_4_2_1: {{ deb13cis_rule_2_4_2_1 }}

# Section 3 Network
## Network Devices
deb13cis_rule_3_1_1: {{ deb13cis_rule_3_1_1 }}
deb13cis_rule_3_1_2: {{ deb13cis_rule_3_1_2 }}
deb13cis_rule_3_1_3: {{ deb13cis_rule_3_1_3 }}
## Network Kernel Modules
deb13cis_rule_3_2_1: {{ deb13cis_rule_3_2_1 }}
deb13cis_rule_3_2_2: {{ deb13cis_rule_3_2_2 }}
deb13cis_rule_3_2_3: {{ deb13cis_rule_3_2_3 }}
deb13cis_rule_3_2_4: {{ deb13cis_rule_3_2_4 }}
deb13cis_rule_3_2_5: {{ deb13cis_rule_3_2_5 }}
deb13cis_rule_3_2_6: {{ deb13cis_rule_3_2_6 }}
# Network Kernel Parameters IPv4
deb13cis_rule_3_3_1_1: {{ deb13cis_rule_3_3_1_1 }}
deb13cis_rule_3_3_1_2: {{ deb13cis_rule_3_3_1_2 }}
deb13cis_rule_3_3_1_3: {{ deb13cis_rule_3_3_1_3 }}
deb13cis_rule_3_3_1_4: {{ deb13cis_rule_3_3_1_4 }}
deb13cis_rule_3_3_1_5: {{ deb13cis_rule_3_3_1_5 }}
deb13cis_rule_3_3_1_6: {{ deb13cis_rule_3_3_1_6 }}
deb13cis_rule_3_3_1_7: {{ deb13cis_rule_3_3_1_7 }}
deb13cis_rule_3_3_1_8: {{ deb13cis_rule_3_3_1_8 }}
deb13cis_rule_3_3_1_9: {{ deb13cis_rule_3_3_1_9 }}
deb13cis_rule_3_3_1_10: {{ deb13cis_rule_3_3_1_10 }}
deb13cis_rule_3_3_1_11: {{ deb13cis_rule_3_3_1_11 }}
deb13cis_rule_3_3_1_12: {{ deb13cis_rule_3_3_1_12 }}
deb13cis_rule_3_3_1_13: {{ deb13cis_rule_3_3_1_13 }}
deb13cis_rule_3_3_1_14: {{ deb13cis_rule_3_3_1_14 }}
deb13cis_rule_3_3_1_15: {{ deb13cis_rule_3_3_1_15 }}
deb13cis_rule_3_3_1_16: {{ deb13cis_rule_3_3_1_16 }}
deb13cis_rule_3_3_1_17: {{ deb13cis_rule_3_3_1_17 }}
deb13cis_rule_3_3_1_18: {{ deb13cis_rule_3_3_1_18 }}
# Network Kernel Parameters IPv6
deb13cis_rule_3_3_2_1: {{ deb13cis_rule_3_3_2_1 }}
deb13cis_rule_3_3_2_2: {{ deb13cis_rule_3_3_2_2 }}
deb13cis_rule_3_3_2_3: {{ deb13cis_rule_3_3_2_3 }}
deb13cis_rule_3_3_2_4: {{ deb13cis_rule_3_3_2_4 }}
deb13cis_rule_3_3_2_5: {{ deb13cis_rule_3_3_2_5 }}
deb13cis_rule_3_3_2_6: {{ deb13cis_rule_3_3_2_6 }}
deb13cis_rule_3_3_2_7: {{ deb13cis_rule_3_3_2_7 }}
deb13cis_rule_3_3_2_8: {{ deb13cis_rule_3_3_2_8 }}

# Section 4 Firewalls
### Section 4 Host Based Firewall
deb13cis_rule_4_1_1: {{ deb13cis_rule_4_1_1 }}
deb13cis_rule_4_1_2: {{ deb13cis_rule_4_1_2 }}
deb13cis_rule_4_1_3: {{ deb13cis_rule_4_1_3 }}
deb13cis_rule_4_1_4: {{ deb13cis_rule_4_1_4 }}
deb13cis_rule_4_1_5: {{ deb13cis_rule_4_1_5 }}

## Section 5 Access Control
# 5.1 Configure SSH Server
deb13cis_rule_5_1_1: {{ deb13cis_rule_5_1_1 }}
deb13cis_rule_5_1_2: {{ deb13cis_rule_5_1_2 }}
deb13cis_rule_5_1_3: {{ deb13cis_rule_5_1_3 }}
deb13cis_rule_5_1_4: {{ deb13cis_rule_5_1_4 }}
deb13cis_rule_5_1_5: {{ deb13cis_rule_5_1_5 }}
deb13cis_rule_5_1_6: {{ deb13cis_rule_5_1_6 }}
deb13cis_rule_5_1_7: {{ deb13cis_rule_5_1_7 }}
deb13cis_rule_5_1_8: {{ deb13cis_rule_5_1_8 }}
deb13cis_rule_5_1_9: {{ deb13cis_rule_5_1_9 }}
deb13cis_rule_5_1_10: {{ deb13cis_rule_5_1_10 }}
deb13cis_rule_5_1_11: {{ deb13cis_rule_5_1_11 }}
deb13cis_rule_5_1_12: {{ deb13cis_rule_5_1_12 }}
deb13cis_rule_5_1_13: {{ deb13cis_rule_5_1_13 }}
deb13cis_rule_5_1_14: {{ deb13cis_rule_5_1_14 }}
deb13cis_rule_5_1_15: {{ deb13cis_rule_5_1_15 }}
deb13cis_rule_5_1_16: {{ deb13cis_rule_5_1_16 }}
deb13cis_rule_5_1_17: {{ deb13cis_rule_5_1_17 }}
deb13cis_rule_5_1_18: {{ deb13cis_rule_5_1_18 }}
deb13cis_rule_5_1_19: {{ deb13cis_rule_5_1_19 }}
deb13cis_rule_5_1_20: {{ deb13cis_rule_5_1_20 }}
deb13cis_rule_5_1_21: {{ deb13cis_rule_5_1_21 }}
deb13cis_rule_5_1_22: {{ deb13cis_rule_5_1_22 }}
deb13cis_rule_5_1_23: {{ deb13cis_rule_5_1_23 }}
# 5.2 Configure privilege escalation
deb13cis_rule_5_2_1: {{ deb13cis_rule_5_2_1 }}
deb13cis_rule_5_2_2: {{ deb13cis_rule_5_2_2 }}
deb13cis_rule_5_2_3: {{ deb13cis_rule_5_2_3 }}
deb13cis_rule_5_2_4: {{ deb13cis_rule_5_2_4 }}
deb13cis_rule_5_2_5: {{ deb13cis_rule_5_2_5 }}
deb13cis_rule_5_2_6: {{ deb13cis_rule_5_2_6 }}
deb13cis_rule_5_2_7: {{ deb13cis_rule_5_2_7 }}
# 5.3.1 Configure PAM software packages
deb13cis_rule_5_3_1_1: {{ deb13cis_rule_5_3_1_1 }}
deb13cis_rule_5_3_1_2: {{ deb13cis_rule_5_3_1_2 }}
deb13cis_rule_5_3_1_3: {{ deb13cis_rule_5_3_1_3 }}
# 5.3.2 Configure pam-auth-update profiles
deb13cis_rule_5_3_2_1: {{ deb13cis_rule_5_3_2_1 }}
deb13cis_rule_5_3_2_2: {{ deb13cis_rule_5_3_2_2 }}
deb13cis_rule_5_3_2_3: {{ deb13cis_rule_5_3_2_3 }}
deb13cis_rule_5_3_2_4: {{ deb13cis_rule_5_3_2_4 }}
# 5.3.3.1 Configure pam_faillock module
deb13cis_rule_5_3_3_1_1: {{ deb13cis_rule_5_3_3_1_1 }}
deb13cis_rule_5_3_3_1_2: {{ deb13cis_rule_5_3_3_1_2 }}
deb13cis_rule_5_3_3_1_3: {{ deb13cis_rule_5_3_3_1_3 }}
# 5.3.3.2 Configure pam_quality module
deb13cis_rule_5_3_3_2_1: {{ deb13cis_rule_5_3_3_2_1 }}
deb13cis_rule_5_3_3_2_2: {{ deb13cis_rule_5_3_3_2_2 }}
deb13cis_rule_5_3_3_2_3: {{ deb13cis_rule_5_3_3_2_3 }}
deb13cis_rule_5_3_3_2_4: {{ deb13cis_rule_5_3_3_2_4 }}
deb13cis_rule_5_3_3_2_5: {{ deb13cis_rule_5_3_3_2_5 }}
deb13cis_rule_5_3_3_2_6: {{ deb13cis_rule_5_3_3_2_6 }}
deb13cis_rule_5_3_3_2_7: {{ deb13cis_rule_5_3_3_2_7 }}
deb13cis_rule_5_3_3_2_8: {{ deb13cis_rule_5_3_3_2_8 }}
# 5.3.3.3 Configure pam_history module
# This are added as part of 5.3.2.4 using jinja2 template
deb13cis_rule_5_3_3_3_1: {{ deb13cis_rule_5_3_3_3_1 }}
deb13cis_rule_5_3_3_3_2: {{ deb13cis_rule_5_3_3_3_2 }}
deb13cis_rule_5_3_3_3_3: {{ deb13cis_rule_5_3_3_3_3 }}
# 5.3.3.4 Configure pam_unix module
deb13cis_rule_5_3_3_4_1: {{ deb13cis_rule_5_3_3_4_1 }}
deb13cis_rule_5_3_3_4_2: {{ deb13cis_rule_5_3_3_4_2 }}
deb13cis_rule_5_3_3_4_3: {{ deb13cis_rule_5_3_3_4_3 }}
deb13cis_rule_5_3_3_4_4: {{ deb13cis_rule_5_3_3_4_4 }}
# 5.4 User Accounts and Environment
# 5.4.1 Configure shadow password suite parameters
deb13cis_rule_5_4_1_1: {{ deb13cis_rule_5_4_1_1 }}
deb13cis_rule_5_4_1_2: {{ deb13cis_rule_5_4_1_2 }}
deb13cis_rule_5_4_1_3: {{ deb13cis_rule_5_4_1_3 }}
deb13cis_rule_5_4_1_4: {{ deb13cis_rule_5_4_1_4 }}
deb13cis_rule_5_4_1_5: {{ deb13cis_rule_5_4_1_5 }}
deb13cis_rule_5_4_1_6: {{ deb13cis_rule_5_4_1_6 }}
# 5.4.2 Configure root and system accounts and environment
deb13cis_rule_5_4_2_1: {{ deb13cis_rule_5_4_2_1 }}
deb13cis_rule_5_4_2_2: {{ deb13cis_rule_5_4_2_2 }}
deb13cis_rule_5_4_2_3: {{ deb13cis_rule_5_4_2_3 }}
deb13cis_rule_5_4_2_4: {{ deb13cis_rule_5_4_2_4 }}
deb13cis_rule_5_4_2_5: {{ deb13cis_rule_5_4_2_5 }}
deb13cis_rule_5_4_2_6: {{ deb13cis_rule_5_4_2_6 }}
deb13cis_rule_5_4_2_7: {{ deb13cis_rule_5_4_2_7 }}
deb13cis_rule_5_4_2_8: {{ deb13cis_rule_5_4_2_8 }}
# 5.4.2 Configure user default environment
deb13cis_rule_5_4_3_1: {{ deb13cis_rule_5_4_3_1 }}
deb13cis_rule_5_4_3_2: {{ deb13cis_rule_5_4_3_2 }}
deb13cis_rule_5_4_3_3: {{ deb13cis_rule_5_4_3_3 }}

## Section 6
# 6.1.1.1 Configure systemd-journald service
deb13cis_rule_6_1_1_1_1: {{ deb13cis_rule_6_1_1_1_1 }}
deb13cis_rule_6_1_1_1_2: {{ deb13cis_rule_6_1_1_1_2 }}
deb13cis_rule_6_1_1_1_3: {{ deb13cis_rule_6_1_1_1_3 }}
deb13cis_rule_6_1_1_1_4: {{ deb13cis_rule_6_1_1_1_4 }}
deb13cis_rule_6_1_1_1_5: {{ deb13cis_rule_6_1_1_1_5 }}
deb13cis_rule_6_1_1_1_6: {{ deb13cis_rule_6_1_1_1_6 }}
# 6.1.1.2 Configure systemd-journald service
deb13cis_rule_6_1_1_2_1: {{ deb13cis_rule_6_1_1_2_1 }}
deb13cis_rule_6_1_1_2_2: {{ deb13cis_rule_6_1_1_2_2 }}
deb13cis_rule_6_1_1_2_3: {{ deb13cis_rule_6_1_1_2_3 }}
deb13cis_rule_6_1_1_2_4: {{ deb13cis_rule_6_1_1_2_4 }}
# 6.1.2.x Configure Rsyslog
deb13cis_rule_6_1_2_1: {{ deb13cis_rule_6_1_2_1 }}
deb13cis_rule_6_1_2_2: {{ deb13cis_rule_6_1_2_2 }}
deb13cis_rule_6_1_2_3: {{ deb13cis_rule_6_1_2_3 }}
deb13cis_rule_6_1_2_4: {{ deb13cis_rule_6_1_2_4 }}
deb13cis_rule_6_1_2_5: {{ deb13cis_rule_6_1_2_5 }}
deb13cis_rule_6_1_2_6: {{ deb13cis_rule_6_1_2_6 }}
deb13cis_rule_6_1_2_7: {{ deb13cis_rule_6_1_2_7 }}
deb13cis_rule_6_1_2_8: {{ deb13cis_rule_6_1_2_8 }}
deb13cis_rule_6_1_2_9: {{ deb13cis_rule_6_1_2_9 }}
deb13cis_rule_6_1_2_10: {{ deb13cis_rule_6_1_2_10 }}
deb13cis_rule_6_1_2_11: {{ deb13cis_rule_6_1_2_11 }}

## 6.2.2 Configure Logfiles
deb13cis_rule_6_1_3_1: {{ deb13cis_rule_6_1_3_1 }}

## 6.2 Configure Auditing
## 6.2.1 Configure auditd Service
deb13cis_rule_6_2_1_1: {{ deb13cis_rule_6_2_1_1 }}
deb13cis_rule_6_2_1_2: {{ deb13cis_rule_6_2_1_2 }}
deb13cis_rule_6_2_1_3: {{ deb13cis_rule_6_2_1_3 }}
deb13cis_rule_6_2_1_4: {{ deb13cis_rule_6_2_1_4 }}

## 6.4.2 Configure Data Retention
deb13cis_rule_6_2_2_1: {{ deb13cis_rule_6_2_2_1 }}
deb13cis_rule_6_2_2_2: {{ deb13cis_rule_6_2_2_2 }}
deb13cis_rule_6_2_2_3: {{ deb13cis_rule_6_2_2_3 }}
deb13cis_rule_6_2_2_4: {{ deb13cis_rule_6_2_2_4 }}
## 6.2.3 Configure auditd Rules
deb13cis_rule_6_2_3_1: {{ deb13cis_rule_6_2_3_1 }}
deb13cis_rule_6_2_3_2: {{ deb13cis_rule_6_2_3_2 }}
deb13cis_rule_6_2_3_3: {{ deb13cis_rule_6_2_3_3 }}
deb13cis_rule_6_2_3_4: {{ deb13cis_rule_6_2_3_4 }}
deb13cis_rule_6_2_3_5: {{ deb13cis_rule_6_2_3_5 }}
deb13cis_rule_6_2_3_6: {{ deb13cis_rule_6_2_3_6 }}
deb13cis_rule_6_2_3_7: {{ deb13cis_rule_6_2_3_7 }}
deb13cis_rule_6_2_3_8: {{ deb13cis_rule_6_2_3_8 }}
deb13cis_rule_6_2_3_9: {{ deb13cis_rule_6_2_3_9 }}
deb13cis_rule_6_2_3_10: {{ deb13cis_rule_6_2_3_10 }}
deb13cis_rule_6_2_3_11: {{ deb13cis_rule_6_2_3_11 }}
deb13cis_rule_6_2_3_12: {{ deb13cis_rule_6_2_3_12 }}
deb13cis_rule_6_2_3_13: {{ deb13cis_rule_6_2_3_13 }}
deb13cis_rule_6_2_3_14: {{ deb13cis_rule_6_2_3_14 }}
deb13cis_rule_6_2_3_15: {{ deb13cis_rule_6_2_3_15 }}
deb13cis_rule_6_2_3_16: {{ deb13cis_rule_6_2_3_16 }}
deb13cis_rule_6_2_3_17: {{ deb13cis_rule_6_2_3_17 }}
deb13cis_rule_6_2_3_18: {{ deb13cis_rule_6_2_3_18 }}
deb13cis_rule_6_2_3_19: {{ deb13cis_rule_6_2_3_19 }}
deb13cis_rule_6_2_3_20: {{ deb13cis_rule_6_2_3_20 }}
deb13cis_rule_6_2_3_21: {{ deb13cis_rule_6_2_3_21 }}
deb13cis_rule_6_2_3_22: {{ deb13cis_rule_6_2_3_22 }}
deb13cis_rule_6_2_3_23: {{ deb13cis_rule_6_2_3_23 }}
deb13cis_rule_6_2_3_24: {{ deb13cis_rule_6_2_3_24 }}
deb13cis_rule_6_2_3_25: {{ deb13cis_rule_6_2_3_25 }}
deb13cis_rule_6_2_3_26: {{ deb13cis_rule_6_2_3_26 }}
deb13cis_rule_6_2_3_27: {{ deb13cis_rule_6_2_3_27 }}
deb13cis_rule_6_2_3_28: {{ deb13cis_rule_6_2_3_28 }}
deb13cis_rule_6_2_3_29: {{ deb13cis_rule_6_2_3_29 }}
deb13cis_rule_6_2_3_30: {{ deb13cis_rule_6_2_3_30 }}
deb13cis_rule_6_2_3_31: {{ deb13cis_rule_6_2_3_31 }}
deb13cis_rule_6_2_3_32: {{ deb13cis_rule_6_2_3_32 }}
deb13cis_rule_6_2_3_33: {{ deb13cis_rule_6_2_3_33 }}
deb13cis_rule_6_2_3_34: {{ deb13cis_rule_6_2_3_34 }}
deb13cis_rule_6_2_3_35: {{ deb13cis_rule_6_2_3_35 }}
deb13cis_rule_6_2_3_36: {{ deb13cis_rule_6_2_3_36 }}
deb13cis_rule_6_2_3_37: {{ deb13cis_rule_6_2_3_37 }}
## 6.2.4 Configure auditd File Access
deb13cis_rule_6_2_4_1: {{ deb13cis_rule_6_2_4_1 }}
deb13cis_rule_6_2_4_2: {{ deb13cis_rule_6_2_4_2 }}
deb13cis_rule_6_2_4_3: {{ deb13cis_rule_6_2_4_3 }}
deb13cis_rule_6_2_4_4: {{ deb13cis_rule_6_2_4_4 }}
deb13cis_rule_6_2_4_5: {{ deb13cis_rule_6_2_4_5 }}
deb13cis_rule_6_2_4_6: {{ deb13cis_rule_6_2_4_6 }}
deb13cis_rule_6_2_4_7: {{ deb13cis_rule_6_2_4_7 }}
deb13cis_rule_6_2_4_8: {{ deb13cis_rule_6_2_4_8 }}
deb13cis_rule_6_2_4_9: {{ deb13cis_rule_6_2_4_9 }}
deb13cis_rule_6_2_4_10: {{ deb13cis_rule_6_2_4_10 }}

## 6.3.2 Configure Integrity Checking
deb13cis_rule_6_3_1: {{ deb13cis_rule_6_3_1 }}
deb13cis_rule_6_3_2: {{ deb13cis_rule_6_3_2 }}
deb13cis_rule_6_3_3: {{ deb13cis_rule_6_3_3 }}

## Section 7
# 7.1 System File Permissions
deb13cis_rule_7_1_1: {{ deb13cis_rule_7_1_1 }}
deb13cis_rule_7_1_2: {{ deb13cis_rule_7_1_2 }}
deb13cis_rule_7_1_3: {{ deb13cis_rule_7_1_3 }}
deb13cis_rule_7_1_4: {{ deb13cis_rule_7_1_4 }}
deb13cis_rule_7_1_5: {{ deb13cis_rule_7_1_5 }}
deb13cis_rule_7_1_6: {{ deb13cis_rule_7_1_6 }}
deb13cis_rule_7_1_7: {{ deb13cis_rule_7_1_7 }}
deb13cis_rule_7_1_8: {{ deb13cis_rule_7_1_8 }}
deb13cis_rule_7_1_9: {{ deb13cis_rule_7_1_9 }}
deb13cis_rule_7_1_10: {{ deb13cis_rule_7_1_10 }}
deb13cis_rule_7_1_11: {{ deb13cis_rule_7_1_11 }}
deb13cis_rule_7_1_12: {{ deb13cis_rule_7_1_12 }}
deb13cis_rule_7_1_13: {{ deb13cis_rule_7_1_13 }}
# 7.2 Local User and Group Settings
deb13cis_rule_7_2_1: {{ deb13cis_rule_7_2_1 }}
deb13cis_rule_7_2_2: {{ deb13cis_rule_7_2_2 }}
deb13cis_rule_7_2_3: {{ deb13cis_rule_7_2_3 }}
deb13cis_rule_7_2_4: {{ deb13cis_rule_7_2_4 }}
deb13cis_rule_7_2_5: {{ deb13cis_rule_7_2_5 }}
deb13cis_rule_7_2_6: {{ deb13cis_rule_7_2_6 }}
deb13cis_rule_7_2_7: {{ deb13cis_rule_7_2_7 }}
deb13cis_rule_7_2_8: {{ deb13cis_rule_7_2_8 }}
deb13cis_rule_7_2_9: {{ deb13cis_rule_7_2_9 }}
deb13cis_rule_7_2_10: {{ deb13cis_rule_7_2_10 }}

############

# Section 1

# Whether or not to run tasks related to auditing/patching the desktop environment
deb13cis_gui: {{ deb13cis_desktop_required }}

## Controls 1.3.1.3 and 1.3.1.4 Ensure all AppArmor Profiles are in enforce (1.3.1.3/4) or complain (1.3.1.3) mode

# This variable disables the implementation of rules 1.3.1.3 and 1.3.1.4
# regarding enforcing profiles or putting them in complain mode
deb13cis_apparmor_disable: {{ deb13cis_apparmor_disable }}

# Warning Banner Content (issue, issue.net, motd)
deb13cis_warning_banner: {{ deb13cis_warning_banner }}
# End Banner

# 1.8 Gnome Desktop
deb13cis_dconf_db_name: {{ deb13cis_dconf_db_name }}

# Section 2
# Service configuration
# Options are
# Service
# - false - removes package
# - true - leaves package installed
# Mask
# - false - leaves service in current status
# - true - sets service name to masked
deb13cis_autofs_services: {{ deb13cis_autofs_services }}
deb13cis_autofs_mask: {{ deb13cis_autofs_mask }}
deb13cis_avahi_server: {{ deb13cis_avahi_server }}
deb13cis_avahi_mask: {{ deb13cis_avahi_mask }}
deb13cis_dhcp_server: {{ deb13cis_dhcp_server }}
deb13cis_dhcp_mask: {{ deb13cis_dhcp_mask }}
deb13cis_dns_server: {{ deb13cis_dns_server }}
deb13cis_dns_mask: {{ deb13cis_dns_mask }}
deb13cis_dnsmasq_server: {{ deb13cis_dnsmasq_server }}
deb13cis_dnsmasq_mask: {{ deb13cis_dnsmasq_mask }}
deb13cis_samba_server: {{ deb13cis_samba_server }}
deb13cis_samba_mask: {{ deb13cis_samba_mask }}
deb13cis_ftp_server: {{ deb13cis_ftp_server }}
deb13cis_ftp_mask: {{ deb13cis_ftp_mask }}
deb13cis_ldap_server: {{ deb13cis_ldap_server }}
deb13cis_ldap_mask: {{ deb13cis_ldap_mask }}
deb13cis_message_server: {{ deb13cis_message_server }}  # This is for messaging dovecot and cyrus-imap
deb13cis_message_mask: {{ deb13cis_message_mask }}
deb13cis_nfs_server: {{ deb13cis_nfs_server }}
deb13cis_nfs_mask: {{ deb13cis_nfs_mask }}
deb13cis_nis_server: {{ deb13cis_nis_server }}  # set to mask if nis client required
deb13cis_nis_mask: {{ deb13cis_nis_mask }}
deb13cis_print_server: {{ deb13cis_print_server }}  # replaces cups
deb13cis_print_mask: {{ deb13cis_print_mask }}
deb13cis_rpc_server: {{ deb13cis_rpc_server }}
deb13cis_rpc_mask: {{ deb13cis_rpc_mask }}
deb13cis_rsync_server: {{ deb13cis_rsync_server }}
deb13cis_rsync_mask: {{ deb13cis_rsync_mask }}
deb13cis_snmp_server: {{ deb13cis_snmp_server }}
deb13cis_snmp_mask: {{ deb13cis_snmp_mask }}
deb13cis_telnet_server: {{ deb13cis_telnet_server }}
deb13cis_telnet_mask: {{ deb13cis_telnet_mask }}
deb13cis_tftp_server: {{ deb13cis_tftp_server }}
deb13cis_tftp_mask: {{ deb13cis_tftp_mask }}
deb13cis_squid_server: {{ deb13cis_squid_server }}
deb13cis_squid_mask: {{ deb13cis_squid_mask }}
deb13cis_apache2_server: {{ deb13cis_apache2_server }}
deb13cis_apache2_mask: {{ deb13cis_apache2_mask }}
deb13cis_nginx_server: {{ deb13cis_nginx_server }}
deb13cis_nginx_mask: {{ deb13cis_nginx_mask }}
deb13cis_xinetd_server: {{ deb13cis_xinetd_server }}
deb13cis_xinetd_mask: {{ deb13cis_xinetd_mask }}
deb13cis_xwindow_server: {{ deb13cis_xwindow_server }}  # will remove mask not an option
deb13cis_is_mail_server: {{ deb13cis_is_mail_server }}

## Section 2.3 Service clients

# Client Services
deb13cis_nis_client_required: {{ deb13cis_nis_client_required }}  # Same package as NIS server
deb13cis_rsh_client: {{ deb13cis_rsh_client }}
deb13cis_talk_client: {{ deb13cis_talk_client }}
deb13cis_telnet_client: {{ deb13cis_telnet_client }}
deb13cis_ldap_clients_required: {{ deb13cis_ldap_clients_required }}
deb13cis_ftp_client: {{ deb13cis_ftp_client }}

#
## Control 2.3.1.1
# This variable choses the tool used for time synchronization
# The two options are `chrony`and `systemd-timesyncd`.
deb13cis_time_sync_tool: {{ deb13cis_time_sync_tool }}

## Controls 2.3.x - Configure time pools & servers for chrony and timesyncd
# The following variable represents a list oftime server pools used
# for configuring chrony and timesyncd.
# Each list item contains two settings, `name` (the domain name of the pool) and synchronization `options`.
# The default setting for the `options` is `iburst maxsources 4` -- please refer to the documentation
# of the time synchronization mechanism you are using.
deb13cis_time_pool_name:
{% for pool in deb13cis_time_pool %}
  - name: {{ pool.name }}
    options: {{ pool.options }}
{% endfor %}

# The following variable represents a list of time servers used
# for configuring chrony and timesyncd
# Each list item contains two settings, `name` (the domain name of the server) and synchronization `options`.
# The default setting for the `options` is `iburst` -- please refer to the documentation
# of the time synchronization mechanism you are using.
deb13cis_time_servers:
{% for time_server in deb13cis_time_servers %}
- name: {{ time_server.name }}
  options: {{ time_server.options }}
{% endfor %}

# Section 3
## Control 3.1.1 - Ensure system is checked to determine if IPv6 is enabled
# This variable governs the mechanism of how the disabling of IPV6 is carried out.
# Its possible values are `grub` and `sysctl`.
deb13cis_ipv6_disable: grub

## Control 3.1.3 - Ensure bluetooth Services are not in use
# This control managed how the bluetooth service is managaed
# Options are
# true to leave installed if exists not changes take place
# false - this removes the package
# mask - if a dependancy for product so cannot be removed
deb13cis_bluetooth_service: {{ deb13cis_bluetooth_service }}
deb13cis_bluetooth_mask: {{ deb13cis_bluetooth_mask }}

## IPv6 required
deb13cis_ipv6_required: {{ deb13cis_ipv6_required }}

## 3.2 System network parameters (host only OR host and router)
deb13cis_is_router: {{ deb13cis_is_router }}

## Section 3.4

## Controls 4.1.x, 4.2.x, and 4.3.x - Firewall configuration
# This variable represents the toggle for which firewall package is used.
# The options that have an effect on the system are `ufw` and `iptables`.
# The option `nftables` is also possible, but will only result in a message,
# that `nftables` has been chosen; all settings have to be carried out manually.
# Any other value, e.g. `none` will skip all firewall-related controls.
deb13cis_firewall_package: {{ deb13cis_firewall_package }}


# Section 5

deb13cis_ssh_strong_ciphers:
  - aes256-gcm@openssh.com
  - aes128-gcm@openssh.com
  - aes256-ctr
  - aes192-ctr
  - aes128-ctr
deb13cis_ssh_weak_ciphers:
  - 3des-cbc
  - aes128-cbc
  - aes192-cbc
  - aes256-cbc
  - arcfour
  - chacha20-poly1305@openssh.com
  - arcfour128
  - arcfour256
  - blowfish-cbc
  - cast128-cbc
  - rijndael-cbc@lysator.liu.se

deb13cis_ssh_strong_macs:
  - hmac-sha1
  - hmac-sha2-256
  #  - hmac-sha2-384  # hashed out seen as bad ssh2 MAC
  - hmac-sha2-512
deb13cis_ssh_weak_macs:
  - hmac-md5
  - hmac-md5-96
  - hmac-ripemd160
  - hmac-sha1-96
  - umac-64@openssh.com
  - umac-128@openssh.com
  - hmac-md5-etm@openssh.com
  - hmac-md5-96-etm@openssh.com
  - hmac-ripemd160-etm@openssh.com
  - hmac-sha1-etm@openssh.com
  - hmac-sha1-96-etm@openssh.com
  - umac-64-etm@openssh.com
  - umac-128-etm@openssh.com
  - hmac-sha2-512-etm@openssh.com
  - hmac-sha2-256-etm@openssh.com

deb13cis_ssh_strong_kex:
  - ecdh-sha2-nistp256
  - ecdh-sha2-nistp384
  - ecdh-sha2-nistp521
  - diffie-hellman-group-exchange-sha256
  - diffie-hellman-group14-sha256
  - diffie-hellman-group16-sha512
  - diffie-hellman-group18-sha512
deb13cis_ssh_weak_kex:
  - diffie-hellman-group1-sha1
  - diffie-hellman-group14-sha1
  - diffie-hellman-group-exchange-sha1

deb13cis_sshd_config_file: /etc/ssh/sshd_config

## 5.1.4 Note the following to understand precedence and layout , comma separated
deb13cis_sshd_allow_users: {{ deb13cis_sshd_allow_users }}
deb13cis_sshd_allow_groups: {{ deb13cis_sshd_allow_groups }}
deb13cis_sshd_deny_users: {{ deb13cis_sshd_deny_users }}
deb13cis_sshd_deny_groups: {{ deb13cis_sshd_deny_groups }}

deb13cis_ssh_clientaliveinterval: {{ deb13cis_sshd_client_alive_interval }}
deb13cis_ssh_clientalivecountmax: {{ deb13cis_sshd_client_alive_count_max }}

## 5.2.7 set sugroup if differs from wheel
deb13cis_sugroup: {{ deb13cis_sugroup }}


## 5.3.3.2.3 Set option used for password complexity
# either mincall or credits - enabling to check for one option in settings
deb13cis_passwd_complex_option: {{ deb13cis_passwd_complex_option }}

## 5.4.1.x login.defs password settings
deb13cis_pass_max_days: {{ deb13cis_pass_max_days }}
deb13cis_pass_min_days: {{ deb13cis_pass_min_days }}
deb13cis_pass_warn_age: {{ deb13cis_pass_warn_age }}

# Section 6

## Logging 6.1.x

## syslog
## change to rsyslog/ journald or other
deb13cis_syslog: {{ deb13cis_syslog }}

# Control 6.1.x
## Set if host is a logserver
deb13cis_is_syslog_server: {{ deb13cis_system_is_log_server }}

# Log server settings
deb13cis_remote_log_host: {{ deb13cis_remote_log_host }}
deb13cis_remote_log_port: {{ deb13cis_remote_log_port }}
deb13cis_remote_log_protocol: {{ deb13cis_remote_log_protocol }}
deb13cis_remote_log_retrycount: {{ deb13cis_remote_log_retrycount }}
deb13cis_remote_log_queuesize: {{ deb13cis_remote_log_queuesize }}

# 6.1.2.11 - rsyslog
# The certificate authority certificates ensures that the client only trusts and connects to
# rsyslog servers presenting a certificated signed by the CA preventing data leakage or
# exposure in transit.
deb13cis_rsyslog_stream_cafile: "{{ deb13cis_rsyslog_stream_cafile }}"

# 6.2 If using auditd
deb13cis_auditd: {{ deb13cis_rule_6_2_1_1 }}

# Control 6.3.x

# aide setup via - cron, timer
deb13cis_aide_scan: {{ deb13cis_aide_scan }}

# Control 7.1.12
deb13cis_exclude_unowned_search_path: \({{deb13cis_exclude_unowned_search_path}}\)
