{{ file_managed_by_ansible }}

# certificate files - just CA for a client
global(DefaultNetstreamDriverCAFile="{{ deb13cis_rsyslog_stream_cafile }}")

# set up the action for all messages
action(type="omfwd" protocol="tcp" target=""{{ deb13_rsyslog_stream_target }}" port="{{ deb13_rsyslog_stream_port }}"
       StreamDriver="gtls" StreamDriverMode="1" StreamDriverAuthMode="anon")
